html.light {
  #leftSide {
    text-shadow: none !important;
    h1 {
      color: $primary !important;
    }
    .purple-text-primary {
      color: $dark-tertiary !important;
    }
    .purple-text-secondary {
      color: $dark-tertiary !important;
    }
    p {
      color: $primary !important;
      text-shadow: none !important;
    }
  }
}

#hero {
  display: flex;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 100px);
  margin-bottom: 40px;

  #leftSide,
  #rightSide {
    flex: 1;
  }

  #leftSide {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .purple-text-primary {
      color: $primary;
      font-size: 3.6rem;
    }
    .purple-text-secondary {
      color: $primary;
    }
    h1 {
      font-size: 2.8rem;
      margin-bottom: 70px;
      font-weight: bold;
    }
    p {
      color: $tertiary;
      font-size: 1.2rem;
    }

    @media screen and (max-width: 1040px) {
      h1 {
        font-size: 2.2rem;
      }
      .purple-text-primary {
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
    }

    @media screen and (max-width: 840px) {
      h1 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @media screen and (max-width: 640px) {
    #leftSide {
      position: relative;
      z-index: 2;

      h1,
      p {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 420px) {
    #leftSide {
      h1 {
        font-size: 1.3rem;
        text-align: center;
      }
      .purple-text-primary {
        font-size: 1.8rem;
      }
      p {
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }

  #rightSide {
    img {
      width: 80%;
      margin: 0 auto;
      transition: all ease-in 300ms;
    }
    img:hover {
      filter: brightness(0.7);
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 640px) {
    #rightSide {
      position: absolute;
      z-index: -1;
      opacity: 70%;
      top: 10px;

      img {
        opacity: 15%;
      }
    }
  }
}
