// light mode
html.light {
  #drinkArea {
    background: transparent;
    #titleInput {
      color: $dark-primary;
    }
    #inputSearch {
      box-shadow: 0px 0px 2px $dark-tertiary !important;
      color: $primary;
    }
    #inputSearch:focus {
      color: $dark-tertiary;
    }

    #infosDescription {
      h3 {
        color: $dark-primary !important;
      }
      p {
        color: $dark-secondary !important;
      }
    }
  }
}

// dark mode
#drinkArea {
  background-color: $dark-secondary;
  width: 100%;
  border-radius: 20px;
  padding: 2.5rem;
  margin: 12.5rem auto 0 auto;
  box-shadow: 0px 0px 0.15rem $dark-tertiary;

  #inputSearchArea {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.5rem;
    #titleInput {
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
    }
    div {
      width: 70%;
      margin: 0 auto;
      #inputSearch {
        margin: 35px auto;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(255 255 255 / 0.05);
        outline: none;
        font-size: 1.2rem;
        padding: 5px 10px;
        box-shadow: 0px 0px 1px $dark-primary;
        transition: box-shadow ease-in 300ms;
      }
    }
  }

  #drinkDescription {
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;

    #imgDescription,
    #infosDescription {
      flex: 1;
    }

    #imgDescription {
      position: relative;
      img {
        width: 70%;
        margin: 0 auto;
      }
    }

    #infosDescription {
      display: flex;
      flex-direction: column;
      gap: 40px;
      h3 {
        font-size: 1.4rem;
        font-weight: bold;
        position: relative;
      }

      p {
        font-size: 1.1rem;
        color: $secondary;
      }
    }

    #iconDrink {
      position: absolute;
      right: 2rem;
      top: 90%;
      width: 3%;
      filter: contrast(0);
    }
  }

  @media screen and (max-width: 950px) {
    #inputSearchArea {
      margin: 0 auto;
    }
    #drinkDescription {
      flex-direction: column;
    }
    #imgDescription {
      img {
        width: 60% !important;
      }
    }
    #iconDrink {
      bottom: -30px !important;
      right: 30px !important;
    }
    #infosDescription {
      gap: 20px !important;
    }
  }

  @media screen and (max-width: 660px) {
    #infosDescription {
      h3 {
        font-size: 1.1rem !important;
        text-align: center;
      }

      p {
        font-size: 0.9rem !important;
      }
    }
    #iconDrink {
      width: 6% !important;
    }
  }

  @media screen and (max-width: 480px) {
    #titleInput {
      font-size: 1.2rem !important;
    }
    #inputSearch {
      font-size: 1rem !important;
    }
    #infosDescription {
      h3 {
        font-size: 1rem !important;
      }

      p {
        margin-top: 20px;
        font-size: 0.8rem !important;
      }
    }
    #iconDrink {
      display: none;
    }
  }

  @media screen and (max-width: 320px) {
    #titleInput {
      font-size: 0.8rem !important;
    }
    #inputSearch {
      font-size: 0.8rem !important;
    }
    #infosDescription {
      p {
        font-size: 0.7rem !important;
      }
    }
    #imgDescription {
      img {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #inputSearchArea {
    div {
      width: 100% !important;
    }
  }
  #drinkArea {
    width: 100% !important;
  }

  #imgDescription {
    img {
      margin: 10px auto 50px auto !important;
    }
  }
}

@media screen and (max-width: 320px) {
  #drinkArea {
    padding: 20px 14px !important;
  }
}
