$primary: #6c757d;
$secondary: #ced4da;
$tertiary: #dee2e6;

$dark-primary: #212529;
$dark-secondary: #495057;
$dark-tertiary: #000000;

$light-primary: #e9ecef;
$light-secondary: #f8f9fa;

$bg-light: #f9f9f9;
