#hero {
  display: flex;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 100px);
  margin-bottom: 40px;

  #leftSide,
  #rightSide {
    flex: 1;
  }

  #leftSide {
    text-shadow: 2px 4px 10px #000000a4;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .purple-text-primary {
      color: $secondary;
      text-shadow: 2px 4px 6px #000;
      font-size: 3.6rem;
    }
    .purple-text-secondary {
      color: $primary;
      text-shadow: 2px 4px 6px #000;
    }
    h1 {
      font-size: 2.8rem;
      margin-bottom: 70px;
      font-weight: bold;
    }
    p {
      color: #ffffffab;
      font-size: 1.2rem;
      text-shadow: 2px 4px 6px #000;
    }

    @media screen and (max-width: 1040px) {
      h1 {
        font-size: 2.2rem;
      }
      .purple-text-primary {
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
    }

    @media screen and (max-width: 840px) {
      h1 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @media screen and (max-width: 640px) {
    #leftSide {
      position: relative;
      z-index: 2;

      h1,
      p {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 420px) {
    #leftSide {
      h1 {
        font-size: 1.3rem;
        text-align: center;
      }
      .purple-text-primary {
        font-size: 1.8rem;
      }
      p {
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }

  #rightSide {
    img {
      width: 70%;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 4px 6px 10px #000;
      background: linear-gradient(
        to bottom,
        $dark-primary 20%,
        $dark-secondary 40%
      );
    }
  }

  @media screen and (max-width: 640px) {
    #rightSide {
      position: absolute;
      z-index: -1;
      opacity: 70%;
      top: 10px;

      img {
        opacity: 15%;
      }
    }
  }
}
