// light mode
html.light {
  header {
    border-bottom: 2px solid $secondary !important;
    #logo {
      color: $dark-secondary;
    }

    span {
      color: $dark-tertiary;
    }

    #menuBar ul {
      background: $light-secondary;
    }

    .menu {
      li {
        a {
          color: $dark-tertiary !important;
        }
      }
    }

    #menuIcon {
      svg {
        color: $dark-tertiary !important;
      }
    }

    #closeIcon {
      svg {
        color: $dark-tertiary !important;
      }
    }

    #searchArea {
      input {
        color: $dark-secondary;
        background: $tertiary;
      }
    }
  }
}

// dark mode
header {
  width: 100%;
  padding: 16px 0px;
  margin-bottom: 50px;
  border-bottom: 2px solid $primary;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // logo
  #logo {
    color: $tertiary;
    cursor: pointer;
    // logo detail
    span {
      font-size: 1.2rem;
      margin-right: 2px;
      color: $primary;
    }
  }
  // input area
  #searchArea {
    position: relative;
    width: 35%;
    input {
      width: 100%;
      background-color: rgba(255 255 255 / 0.05);
      border: 0;
      outline: none;
      padding: 4px 8px;
      font-size: 1rem;
      color: $secondary;
      border-radius: 7px;
    }
    #searchIcon {
      position: absolute;
      right: 13px;
      top: 7px;
    }
  }
  // menu desktop
  .menu {
    display: flex;
    text-align: center;

    span {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: $tertiary;
    }
    // links menu
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $tertiary;
        padding: 10px;
        position: relative;
      }
      a:hover {
        color: $primary;
      }
      a::before {
        content: "";
        position: absolute;
        background-color: $primary;
        width: 0;
        height: 3px;
        bottom: 0;
        left: 20px;
        opacity: 0;
        transition: all ease-in 0.3s;
      }
      a:hover::before {
        width: 50%;
        opacity: 1;
      }
    }
    button {
      margin-left: 20px;
    }
  }

  // menu mobile open
  #menuIcon {
    display: none;
    left: -40px;
    top: 17px;
    svg {
      color: #fff;
    }
  }

  // menu mobile
  #menuBar {
    display: none;
    position: absolute;
    top: 0px;
    right: -100vw;
    z-index: 99;
    transition: all ease-in 0.3s;

    .icon,
    #colorTheme {
      position: absolute;
      cursor: pointer;
    }

    #colorTheme {
      top: 14px;
      right: 35px;
    }

    #closeIcon {
      margin-top: 8px;
      svg {
        margin-left: 4px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      width: 100vw;
      height: 100vh;
      background: $dark-primary;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: ease 300ms;
        a {
          color: $tertiary;
        }
        a:hover {
          color: $primary;
          font-weight: 700;
        }
        a::before {
          display: none;
        }
      }
      li:hover {
        background-color: $dark-secondary;
      }
    }
  }

  @media screen and (max-width: 680px) {
    #searchArea {
      display: none;
    }
    #menuDesktop {
      display: none;
    }
    #menuBar {
      display: flex;
    }
    #menuIcon {
      display: block;
    }
  }
}
