html.light {
  header {
    h1 {
      color: $dark-secondary;
    }

    span {
      color: #000;
    }

    #menuBar ul {
      background: $light-secondary;
    }

    .menu {
      li {
        a {
          color: #000 !important;
        }
      }
    }

    #menuIcon {
      svg {
        color: #000 !important;
      }
    }

    #closeIcon {
      svg {
        color: #000 !important;
      }
    }

    #searchArea {
      input {
        box-shadow: 2px 4px 0px $secondary;
        color: #000;
        transition: box-shadow ease 300ms;
      }
      input:focus {
        box-shadow: 4px 6px 0px $secondary;
      }
    }
  }
}

header {
  width: 100%;
  padding: 16px 0px;
  margin-bottom: 50px;
  border-bottom: 2px solid $tertiary;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    color: $tertiary;
    cursor: pointer;
    span {
      font-size: 1.2rem;
      margin-right: 2px;
      color: $primary;
    }
  }

  #searchArea {
    position: relative;
    width: 35%;
    input {
      width: 100%;
      background-color: rgba(255 255 255 / 0.05);
      border: 0;
      outline: none;
      padding: 4px 8px;
      font-size: 1rem;
      color: $secondary;
      border-radius: 7px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
    #searchIcon {
      position: absolute;
      right: 13px;
      top: 7px;
    }
  }

  .menu {
    display: flex;
    text-align: center;

    span {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 20px;
      color: $tertiary;
    }

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $tertiary;
        padding: 10px;
        position: relative;
      }
      a:hover {
        color: $primary;
      }
      a::before {
        content: "";
        position: absolute;
        background-color: $primary;
        width: 0;
        height: 3px;
        bottom: 0;
        left: 20px;
        opacity: 0;
        transition: all ease-in 0.3s;
      }
      a:hover::before {
        width: 50%;
        opacity: 1;
      }
    }
    button {
      margin-left: 20px;
    }
  }

  #menuBar {
    display: none;
    position: absolute;
    top: 0px;
    right: -100vw;
    z-index: 99;
    transition: all ease-in 0.3s;

    .icon,
    #colorTheme {
      position: absolute;
      cursor: pointer;
    }

    #colorTheme {
      top: 10px;
      right: 35px;
    }

    #menuIcon {
      left: -40px;
      top: 14px;
      svg {
        color: #fff;
      }
    }
    #closeIcon {
      right: 5px;
      top: 10px;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      width: 100vw;
      height: 100vh;
      background: $dark-primary;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: ease 300ms;
        a {
          color: $tertiary;
        }
        a:hover {
          color: $primary;
          font-weight: 700;
        }
        a::before {
          display: none;
        }
      }
      li:hover {
        background-color: $dark-secondary;
      }
    }
  }

  @media screen and (max-width: 680px) {
    #searchArea {
      display: none;
    }
    #menuDesktop {
      display: none;
    }
    #menuBar {
      display: flex;
    }
  }
}
