@import "./partials/colors";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html.light {
  body {
    background-color: #fff;
    color: #000;
  }
}

html.dark {
  body {
    background-color: #000;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #fdfdfd;
  overflow-x: hidden;
}

.container,
#content {
  max-width: 1440px;
  margin: 0 auto;
}

#content {
  min-height: 100vh;
}

@import "./partials/layoutStyle/header";
@import "./partials/layoutStyle/footer";
@import "./partials/homeStyle/hero";
@import "./partials/homeStyle/coffeeArea";
@import "./partials/homeStyle/randomDrinks";
@import "./partials/card/card";
@import "./partials/card/cardInfo";
@import "./partials/filter/drinkFilter";
@import "./partials/filter/drinkFilterList";
@import "./partials/pagesStyle/contact";
@import "./partials/pagesStyle/about";
