* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #423442;
  color: #fdfdfd;
  overflow-x: hidden;
}

.container,
#content {
  max-width: 1440px;
  margin: 0 auto;
}

#content {
  min-height: 100vh;
}

header {
  width: 100%;
  padding: 12px 0;
  background-color: #332933;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin-left: 10px;
  color: #754574;
  cursor: pointer;
}
header h1 span {
  font-size: 1.2rem;
  margin-right: 2px;
  color: #db2ad5;
}
header #searchArea {
  position: relative;
  width: 35%;
}
header #searchArea input {
  width: 100%;
  background-color: #423442;
  border: 0;
  outline: none;
  padding: 4px 8px;
  font-size: 1rem;
  color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
header #searchArea #searchIcon {
  position: absolute;
  right: 13px;
  top: 7px;
}
header .menu {
  display: flex;
  text-align: center;
}
header .menu span {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #754574;
}
header .menu li {
  list-style: none;
}
header .menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: relative;
}
header .menu li a:hover {
  color: #ffffff;
}
header .menu li a::before {
  content: "";
  position: absolute;
  background-color: #a842a5;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 20px;
  opacity: 0;
  transition: all ease-in 0.3s;
}
header .menu li a:hover::before {
  width: 50%;
  opacity: 1;
}
header #menuBar {
  display: none;
  position: absolute;
  top: 0px;
  right: -170px;
  z-index: 99;
  transition: all ease-in 0.3s;
}
header #menuBar .icon {
  position: absolute;
  cursor: pointer;
}
header #menuBar #menuIcon {
  right: 210px;
  top: 14px;
}
header #menuBar #closeIcon {
  right: 5px;
  top: 10px;
}
header #menuBar ul {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 170px;
  height: 100vh;
  background: #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
header #menuBar ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease 300ms;
}
header #menuBar ul li a {
  color: rgba(255, 255, 255, 0.7176470588);
}
header #menuBar ul li a:hover {
  color: #fff;
  font-weight: 700;
}
header #menuBar ul li a::before {
  display: none;
}
header #menuBar ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 590px) {
  header #searchArea {
    display: none;
  }
  header #menuDesktop {
    display: none;
  }
  header #menuBar {
    display: flex;
  }
}

footer {
  width: 100%;
  margin-bottom: 20px;
}

#hero {
  display: flex;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 100px);
  margin-bottom: 40px;
}
#hero #leftSide,
#hero #rightSide {
  flex: 1;
}
#hero #leftSide {
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6431372549);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#hero #leftSide .purple-text-primary {
  color: #db2ad5;
  text-shadow: 2px 4px 6px #000;
  font-size: 3.6rem;
}
#hero #leftSide .purple-text-secondary {
  color: #a842a5;
  text-shadow: 2px 4px 6px #000;
}
#hero #leftSide h1 {
  font-size: 2.8rem;
  margin-bottom: 70px;
  font-weight: bold;
}
#hero #leftSide p {
  color: rgba(255, 255, 255, 0.6705882353);
  font-size: 1.2rem;
  text-shadow: 2px 4px 6px #000;
}
@media screen and (max-width: 1040px) {
  #hero #leftSide h1 {
    font-size: 2.2rem;
  }
  #hero #leftSide .purple-text-primary {
    font-size: 3rem;
  }
  #hero #leftSide p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 840px) {
  #hero #leftSide h1 {
    font-size: 1.7rem;
  }
  #hero #leftSide p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 640px) {
  #hero #leftSide {
    position: relative;
    z-index: 2;
  }
  #hero #leftSide h1,
  #hero #leftSide p {
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  #hero #leftSide h1 {
    font-size: 1.3rem;
    text-align: center;
  }
  #hero #leftSide .purple-text-primary {
    font-size: 1.8rem;
  }
  #hero #leftSide p {
    text-align: center;
    font-size: 0.8rem;
  }
}
#hero #rightSide img {
  width: 80%;
  margin: 0 auto;
  filter: brightness(1.5) contrast(2) saturate(1);
  box-shadow: 15px 25px 10px #333;
  background: linear-gradient(to bottom, #423442 20%, #332933 40%);
  transition: all ease-in 300ms;
}
#hero #rightSide img:hover {
  filter: brightness(2) contrast(2) saturate(1.5);
  box-shadow: 15px 25px 25px #000;
}
@media screen and (max-width: 640px) {
  #hero #rightSide {
    position: absolute;
    z-index: -1;
    opacity: 70%;
    top: 10px;
  }
  #hero #rightSide img {
    opacity: 15%;
  }
}

#coffeeArea {
  background: #332933;
  border-radius: 20px;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 4px 8px 15px #000;
  width: 90%;
}
#coffeeArea #inputSearchArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
#coffeeArea #inputSearchArea #titleInput {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
#coffeeArea #inputSearchArea div {
  width: 70%;
  margin: 0 auto;
}
#coffeeArea #inputSearchArea div #inputSearch {
  margin: 35px auto;
  width: 100%;
  border-radius: 10px;
  background-color: #423442;
  outline: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6235294118);
  transition: box-shadow ease-in 300ms;
}
#coffeeArea #inputSearchArea div #inputSearch:hover {
  box-shadow: 1px 5px 15px #000;
}
#coffeeArea #coffeeDescription {
  display: flex;
  align-items: center;
}
#coffeeArea #coffeeDescription #imgDescription,
#coffeeArea #coffeeDescription #infosDescription {
  flex: 1;
}
#coffeeArea #coffeeDescription #imgDescription {
  position: relative;
}
#coffeeArea #coffeeDescription #imgDescription img {
  width: 70%;
  margin: 0 auto;
}
#coffeeArea #coffeeDescription #infosDescription {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#coffeeArea #coffeeDescription #infosDescription h3 {
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
}
#coffeeArea #coffeeDescription #infosDescription p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7647058824);
}
#coffeeArea #coffeeDescription #iconCoffee {
  position: absolute;
  right: -10px;
  bottom: -20px;
  width: 7%;
  filter: contrast(0);
}
@media screen and (max-width: 950px) {
  #coffeeArea #inputSearchArea {
    margin: 0 auto;
  }
  #coffeeArea #coffeeDescription {
    flex-direction: column;
  }
  #coffeeArea #imgDescription img {
    width: 60% !important;
  }
  #coffeeArea #iconCoffee {
    bottom: -30px !important;
    right: -30px !important;
  }
  #coffeeArea #infosDescription {
    gap: 20px !important;
  }
}
@media screen and (max-width: 660px) {
  #coffeeArea #infosDescription h3 {
    font-size: 1.1rem !important;
    text-align: center;
  }
  #coffeeArea #infosDescription p {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 480px) {
  #coffeeArea #titleInput {
    font-size: 1.2rem !important;
  }
  #coffeeArea #inputSearch {
    font-size: 1rem !important;
  }
  #coffeeArea #infosDescription h3 {
    font-size: 1rem !important;
  }
  #coffeeArea #infosDescription p {
    margin-top: 20px;
    font-size: 0.8rem !important;
  }
  #coffeeArea #iconCoffee {
    width: 40% !important;
    opacity: 40%;
  }
}
@media screen and (max-width: 320px) {
  #coffeeArea #titleInput {
    font-size: 0.8rem !important;
  }
  #coffeeArea #inputSearch {
    font-size: 0.8rem !important;
  }
  #coffeeArea #infosDescription p {
    font-size: 0.7rem !important;
  }
  #coffeeArea #imgDescription img {
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  #inputSearchArea div {
    width: 100% !important;
  }
  #coffeeArea {
    width: 100% !important;
  }
}
@media screen and (max-width: 320px) {
  #coffeeArea {
    padding: 20px 14px !important;
  }
}
@keyframes showImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#drinksExamples {
  padding: 70px 10px;
  min-height: 730px;
  position: relative;
  margin: 100px 0 40px;
}
#drinksExamples h3 {
  font-size: 2.5rem;
  text-align: center;
  color: #db2ad5;
  margin-bottom: 80px;
  text-shadow: 2px 5px 10px #000;
}
#drinksExamples div #resetButton {
  position: absolute;
  top: 100px;
  right: 0;
  opacity: 80%;
  padding: 10px;
  z-index: 99;
  transition: all ease 300ms;
}
#drinksExamples div #resetButton:hover {
  opacity: 40%;
}
#drinksExamples div ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}
#drinksExamples div ul li {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#drinksExamples div ul li p {
  font-size: 1.2rem;
  margin-top: 10px;
}
#drinksExamples div ul li div {
  width: 70%;
  min-width: 252px;
  height: 40vh;
  overflow: hidden;
  box-shadow: 0px 0px 25px #000;
  border-radius: 5%;
  background-color: #332933;
  position: relative;
  transition: all ease 1300ms;
}
#drinksExamples div ul li div:hover {
  box-shadow: 4px 4px 5px #754574;
}
#drinksExamples div ul li div:hover .imgDrink {
  top: -40vh;
}
#drinksExamples div ul li div:hover .infosDrink {
  inset: 0;
}
#drinksExamples div ul li .pendingMode {
  display: flex;
  justify-content: center;
  align-items: center;
}
#drinksExamples div ul li .imgDrink {
  border-radius: inherit;
  width: 100%;
  background-size: cover;
  background-position: center;
  animation: ease-in showImg 2500ms;
  position: absolute !important;
  inset: 0;
  transition: all ease 550ms;
}
#drinksExamples div ul li .infosDrink {
  width: 100%;
  position: absolute;
  top: -40vh;
  padding: 25px;
  transition: all ease 350ms;
  transition-delay: 250ms;
  overflow-y: auto;
}
#drinksExamples div ul li .infosDrink h4,
#drinksExamples div ul li .infosDrink h6 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
#drinksExamples div ul li .infosDrink p,
#drinksExamples div ul li .infosDrink li {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}
#drinksExamples div ul li .infosDrink p {
  text-align: justify;
}
#drinksExamples div ul li .infosDrink h6 {
  margin: 40px 0 10px 0;
}
#drinksExamples div ul li .infosDrink ul {
  display: flex;
  gap: 10px 15px;
  flex-wrap: wrap;
}
#drinksExamples div ul li span {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6745098039);
}

@media screen and (max-width: 870px) {
  #drinksExamples h3 {
    font-size: 2rem;
  }
  #drinksExamples div ul {
    grid-template-columns: repeat(2, 1fr);
  }
  #drinksExamples div ul li {
    margin: 20px 0;
  }
  #drinksExamples div ul li:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 600px) {
  #drinksExamples h3 {
    font-size: 1.7rem;
  }
  #drinksExamples div ul {
    grid-template-columns: 1fr;
  }
  #drinksExamples div ul li:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
@media screen and (max-width: 400px) {
  #drinksExamples h3 {
    font-size: 1.3rem;
  }
  #resetButton {
    left: 0;
    top: 125px !important;
    width: 30px;
  }
}
.containerCards {
  margin: 70px 0 50px 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 70px;
  padding: 20px 10px;
}
.containerCards .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #332933;
  border-radius: 20px;
  box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  transition: all ease 0.7s;
}
.containerCards .card .cardInfoImg,
.containerCards .card .cardInfoImgLoading {
  overflow: hidden;
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  border-radius: 20px;
  transition: all ease 0.7s;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.8);
}
.containerCards .card .cardInfoImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.containerCards .card .cardInfoImgLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.containerCards .card .contentCardInfo {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: all ease 0.7s;
}
.containerCards .card .contentCardInfo h3 {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
.containerCards .card .contentCardInfo button {
  width: 50%;
  background: #754574;
  margin-top: 100px;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
  transition: all ease-in 0.2s;
}
.containerCards .card:hover {
  height: 400px;
}
.containerCards .card:hover .cardInfoImg {
  top: -100px;
  scale: 0.75;
}
.containerCards .card:hover .contentCardInfo {
  top: 130px;
  height: 250px;
}
.containerCards .card:hover .contentCardInfo button:hover {
  box-shadow: 4px 4px 10px #000 inset;
  scale: 0.95;
}

@media screen and (max-width: 1670px) {
  .containerCards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1180px) {
  .containerCards {
    gap: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 730px) {
  .containerCards {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
@media screen and (max-width: 560px) {
  .containerCards {
    gap: 200px;
  }
  .containerCards .card {
    height: 400px;
    width: 300px;
  }
  .containerCards .card .cardInfoImg {
    width: 250px;
    height: 170px;
    top: -100px;
    scale: 0.75;
  }
  .containerCards .card .contentCardInfo {
    top: 130px;
    height: 250px;
  }
}/*# sourceMappingURL=main.css.map */