* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #423442;
  color: #fdfdfd;
  overflow-x: hidden;
}

.container,
#content {
  max-width: 1440px;
  margin: 0 auto;
}

#content {
  min-height: 100vh;
}

header {
  width: 100%;
  padding: 12px 0;
  background-color: #332933;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  margin-left: 10px;
  color: #754574;
  cursor: pointer;
}
header h1 span {
  font-size: 1.2rem;
  margin-right: 2px;
  color: #db2ad5;
}
header #searchArea {
  position: relative;
  width: 35%;
}
header #searchArea input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  outline: none;
  padding: 4px 8px;
  font-size: 1rem;
  color: white;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
header #searchArea #searchIcon {
  position: absolute;
  right: 13px;
  top: 7px;
}
header .menu {
  display: flex;
  text-align: center;
}
header .menu span {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #754574;
}
header .menu li {
  list-style: none;
}
header .menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  position: relative;
}
header .menu li a:hover {
  color: #ffffff;
}
header .menu li a::before {
  content: "";
  position: absolute;
  background-color: #a842a5;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 20px;
  opacity: 0;
  transition: all ease-in 0.3s;
}
header .menu li a:hover::before {
  width: 50%;
  opacity: 1;
}
header #menuBar {
  display: none;
  position: absolute;
  top: 0px;
  right: -170px;
  z-index: 99;
  transition: all ease-in 0.3s;
}
header #menuBar .icon {
  position: absolute;
  cursor: pointer;
}
header #menuBar #menuIcon {
  right: 210px;
  top: 14px;
}
header #menuBar #closeIcon {
  right: 5px;
  top: 10px;
}
header #menuBar ul {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 170px;
  height: 100vh;
  background: #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
header #menuBar ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease 300ms;
}
header #menuBar ul li a {
  color: rgba(255, 255, 255, 0.7176470588);
}
header #menuBar ul li a:hover {
  color: #fff;
  font-weight: 700;
}
header #menuBar ul li a::before {
  display: none;
}
header #menuBar ul li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 590px) {
  header #searchArea {
    display: none;
  }
  header #menuDesktop {
    display: none;
  }
  header #menuBar {
    display: flex;
  }
}

footer {
  width: 100%;
  margin-bottom: 20px;
}

#hero {
  display: flex;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 100px);
  margin-bottom: 40px;
}
#hero #leftSide,
#hero #rightSide {
  flex: 1;
}
#hero #leftSide {
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6431372549);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#hero #leftSide .purple-text-primary {
  color: #db2ad5;
  text-shadow: 2px 4px 6px #000;
  font-size: 3.6rem;
}
#hero #leftSide .purple-text-secondary {
  color: #a842a5;
  text-shadow: 2px 4px 6px #000;
}
#hero #leftSide h1 {
  font-size: 2.8rem;
  margin-bottom: 70px;
  font-weight: bold;
}
#hero #leftSide p {
  color: rgba(255, 255, 255, 0.6705882353);
  font-size: 1.2rem;
  text-shadow: 2px 4px 6px #000;
}
@media screen and (max-width: 1040px) {
  #hero #leftSide h1 {
    font-size: 2.2rem;
  }
  #hero #leftSide .purple-text-primary {
    font-size: 3rem;
  }
  #hero #leftSide p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 840px) {
  #hero #leftSide h1 {
    font-size: 1.7rem;
  }
  #hero #leftSide p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 640px) {
  #hero #leftSide {
    position: relative;
    z-index: 2;
  }
  #hero #leftSide h1,
  #hero #leftSide p {
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  #hero #leftSide h1 {
    font-size: 1.3rem;
    text-align: center;
  }
  #hero #leftSide .purple-text-primary {
    font-size: 1.8rem;
  }
  #hero #leftSide p {
    text-align: center;
    font-size: 0.8rem;
  }
}
#hero #rightSide img {
  width: 80%;
  margin: 0 auto;
  filter: brightness(1.5) contrast(2) saturate(1);
  box-shadow: 15px 25px 10px #333;
  background: linear-gradient(to bottom, #423442 20%, #332933 40%);
  transition: all ease-in 300ms;
}
#hero #rightSide img:hover {
  filter: brightness(2) contrast(2) saturate(1.5);
  box-shadow: 15px 25px 25px #000;
}
@media screen and (max-width: 640px) {
  #hero #rightSide {
    position: absolute;
    z-index: -1;
    opacity: 70%;
    top: 10px;
  }
  #hero #rightSide img {
    opacity: 15%;
  }
}

#coffeeArea {
  background: #332933;
  border-radius: 20px;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 4px 8px 15px #000;
  width: 90%;
}
#coffeeArea #inputSearchArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
#coffeeArea #inputSearchArea #titleInput {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
#coffeeArea #inputSearchArea div {
  width: 70%;
  margin: 0 auto;
}
#coffeeArea #inputSearchArea div #inputSearch {
  margin: 35px auto;
  width: 100%;
  border-radius: 10px;
  background-color: #423442;
  outline: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6235294118);
  transition: box-shadow ease-in 300ms;
}
#coffeeArea #inputSearchArea div #inputSearch:hover {
  box-shadow: 1px 5px 15px #000;
}
#coffeeArea #coffeeDescription {
  display: flex;
  align-items: center;
}
#coffeeArea #coffeeDescription #imgDescription,
#coffeeArea #coffeeDescription #infosDescription {
  flex: 1;
}
#coffeeArea #coffeeDescription #imgDescription {
  position: relative;
}
#coffeeArea #coffeeDescription #imgDescription img {
  width: 70%;
  margin: 0 auto;
}
#coffeeArea #coffeeDescription #infosDescription {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#coffeeArea #coffeeDescription #infosDescription h3 {
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
}
#coffeeArea #coffeeDescription #infosDescription p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7647058824);
}
#coffeeArea #coffeeDescription #iconCoffee {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7%;
  filter: contrast(0);
}
@media screen and (max-width: 950px) {
  #coffeeArea #inputSearchArea {
    margin: 0 auto;
  }
  #coffeeArea #coffeeDescription {
    flex-direction: column;
  }
  #coffeeArea #imgDescription img {
    width: 60% !important;
  }
  #coffeeArea #iconCoffee {
    bottom: -30px !important;
    right: -30px !important;
  }
  #coffeeArea #infosDescription {
    gap: 20px !important;
  }
}
@media screen and (max-width: 660px) {
  #coffeeArea #infosDescription h3 {
    font-size: 1.1rem !important;
    text-align: center;
  }
  #coffeeArea #infosDescription p {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 480px) {
  #coffeeArea #titleInput {
    font-size: 1.2rem !important;
  }
  #coffeeArea #inputSearch {
    font-size: 1rem !important;
  }
  #coffeeArea #infosDescription h3 {
    font-size: 1rem !important;
  }
  #coffeeArea #infosDescription p {
    margin-top: 20px;
    font-size: 0.8rem !important;
  }
  #coffeeArea #iconCoffee {
    width: 40% !important;
    opacity: 40%;
  }
}
@media screen and (max-width: 320px) {
  #coffeeArea #titleInput {
    font-size: 0.8rem !important;
  }
  #coffeeArea #inputSearch {
    font-size: 0.8rem !important;
  }
  #coffeeArea #infosDescription p {
    font-size: 0.7rem !important;
  }
  #coffeeArea #imgDescription img {
    width: 100% !important;
  }
}

@media screen and (max-width: 500px) {
  #inputSearchArea div {
    width: 100% !important;
  }
  #coffeeArea {
    width: 100% !important;
  }
}
@media screen and (max-width: 320px) {
  #coffeeArea {
    padding: 20px 14px !important;
  }
}/*# sourceMappingURL=main.css.map */