// light mode
html.light {
  #contact {
    input,
    textarea {
      background: $secondary;
    }

    button {
      background-color: $dark-secondary !important;
      color: $secondary;
    }

    button:hover {
      background-color: $secondary !important;
      color: $dark-secondary;
    }
    h4 {
      color: $dark-primary !important;
    }
    p {
      color: $dark-tertiary !important;
      a {
        color: $dark-primary;
      }
    }
  }
}

// dark mode
#contact {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 120px;

  max-width: 1000px;
  div {
    h4 {
      font-size: 2rem;
      color: $bg-light;
      position: relative;
      font-weight: 500;
    }

    p {
      margin: 20px 0;
      font-weight: 300;
      a {
        color: $tertiary;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    form {
      display: flex;
      justify-content: center;
      max-width: 40%;
      margin: 60px auto;
      flex-direction: column;
      gap: 10px;
      label {
        display: flex;
        flex-direction: column;
        gap: 15px;

        span {
          font-weight: 500;
        }

        input,
        textarea {
          border-radius: 5px;
          outline: none;
        }

        input,
        textarea {
          padding: 4px 7px;
          opacity: 0.4;
          transition: all ease 300ms;
        }

        input:focus,
        textarea:focus {
          opacity: 1;
        }
        textarea {
          resize: none;
        }

        .errorMessage {
          opacity: 0;
          font-weight: bold;
          text-align: center;
          color: #ffffffdd;
          width: 100%;
          background: rgba(255, 0, 0, 0.441);
          padding: 2px 4px;
          border-radius: 4px;
          transition: all ease 300ms;
        }
      }
      button {
        width: 50%;
        margin: 0 auto;
        background: $primary;
        border-radius: 4px;
        font-weight: bold;
        padding: 4px 0;
        transition: all ease 300ms;
      }

      button:hover {
        background: #1b1d20;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        transition: all ease 300ms;
        padding: 30px;
        cursor: pointer;
      }
      li:hover {
        transform: scale(1.2);
        filter: brightness(1.4);
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  #contact {
    width: 80%;
  }
}

@media screen and (max-width: 670px) {
  #contact {
    gap: 80px !important;
    div {
      padding: 0 20px;
    }
    form {
      max-width: 100% !important;
      span,
      input,
      textArea {
        width: 100%;
      }
    }
    iframe {
      width: 100vw !important;
    }
  }
}

@media screen and (max-width: 440px) {
  #contact {
    width: 100%;
    div {
      h4 {
        font-size: 1.6rem !important;
      }
    }

    #mapArea {
      height: 450px;
      position: relative;
      iframe {
        position: absolute;
        top: 0;
        left: -20px;
      }
    }
  }
}
